h1 {
    font-size: 70px;
    color:black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    }  

p {
    font-weight: bolder;
    font-size: 33px;
    color: rgb(0, 0, 0);
    font-family: cursive;
    
  }
  
ul { 
    color : rgb(0, 0, 0);
    font-size: 25px;
    font-family: cursive;

  }